.item {
    margin: 2rem ;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    
  }
  
  .image {
    height: 15rem;
    width: 12rem;
    float: right;
    display: block;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin:2em;
    margin-bottom: 0rem;
  
    
  }
  .addres{
    text-align: center;
    font-weight: bold;
  }
  .image img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 2em;
  }
  
  .content {
    text-align: right;
    padding: 2rem;
    background: #D3E3FC;
    font-size: 19px;
  }
  
  .content h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #2c292b;
  }
  
  .actions {
    padding: 1rem;
    text-align: left;
    background: #D3E3FC;
    
    
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #77a6f7;
    border: 1px solid #77a6f7;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-bottom: 2em;

   
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #D3E3FC;
  }