.container1{
    position: absolute;
    border: 1px solid #77a6f7;
    width: 300px;
    height: 550px;
    margin: 1.2em 5em 5em 5em ;
    border-radius: 2%;
   
}
h2{
    text-align: center;
    color: #77a6f7;
    font-size: 26px;
}

.maintext{
 text-align: right;
 margin: 1em;
 margin-bottom: 1em;
 font-size: 18px;
}

.text{
    text-align: right;
    margin: 1em;
    margin-right: 1.5em;
    font-size: 14px;
    color: rgb(143, 143, 143);
    padding-bottom: 1em;
    border-bottom: 1px solid #77a6f7 ;
}
.textfree{
    text-align: right;
    margin: 1em;
    margin-right: 1.5em;
    font-size: 14px;
    color: rgb(143, 143, 143);
    padding-bottom: 1em;
   
}
